<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="time">
            <h2><span>Time</span> {{time.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{time.date}}</span>
                </dd>
                <dt><span>Cost</span></dt>
                <dd>
                    <span>{{time.cost}}</span>
                </dd>
                <dt><span>For Billing</span></dt>
                <dd>
                    <span>{{time.forBilling}}</span>
                </dd>
                <dt><span>For Payroll</span></dt>
                <dd>
                    <span>{{time.forPayroll}}</span>
                </dd>
                <dt><span>Billing Description</span></dt>
                <dd>
                    <span>{{time.billingDescription}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{time.description}}</span>
                </dd>
                <dt><span>Attachments</span></dt>
                <dd>
                    <div *ngIf="time.attachments">
                        <a (click)="openFile(time.attachmentsContentType, time.attachments)">open</a>
                        {{time.attachmentsContentType}}, {{byteSize(time.attachments)}}
                    </div>
                </dd>
                <dt><span>Notes</span></dt>
                <dd>
                    <span>{{time.notes}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{time.createdBy}}</span>
                </dd>
                <dt><span>Project Id</span></dt>
                <dd>
                    <div *ngIf="time.projectId">
                        <a [routerLink]="['/project', time.projectId?.id, 'view']">{{time.projectId?.projectId}}</a>
                    </div>
                </dd>
                <dt><span>Task Id</span></dt>
                <dd>
                    <div *ngIf="time.taskId">
                        <a [routerLink]="['/task', time.taskId?.id, 'view']">{{time.taskId?.taskId}}</a>
                    </div>
                </dd>
                <dt><span>Sub Cost Category</span></dt>
                <dd>
                    <div *ngIf="time.subCostCategory">
                        <a [routerLink]="['/sub-cost-category', time.subCostCategory?.id, 'view']">{{time.subCostCategory?.subCostCategoryDescription}}</a>
                    </div>
                </dd>
                <dt><span>Pay Code</span></dt>
                <dd>
                    <div *ngIf="time.payCode">
                        <a [routerLink]="['/pay-code', time.payCode?.id, 'view']">{{time.payCode?.payCodeDescription}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time', time.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
